<template name="register">
    <div class="page-container container">
        <div class="menu-spacer"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="well">
                    <form class="form-horizontal">
                        <fieldset>
                            <legend>Register</legend>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="inputFirstName" class="col-md-3 col-lg-4 control-label">First Name</label>
                                    <div class="col-lg-9 col-lg-8">
                                        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputLastName" class="col-lg-4 control-label">Last Name</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-lg-4 control-label">Email</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-lg-4 control-label">Password</label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputConfirmPassword" class="col-lg-4 control-label">Confirm Password</label>
                                    <div class="col-lg-8">
                                        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-4">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                    <button type="button" id="registerBttn" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>