    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Wikileaks</title>
    </head>

    <template name="baseLayout">
        <div id="content" class="sticky-wrapper">
            <div id="navbar" class="navbar navbar-fixed-top navbar-default" role="navigation">
                <div class="navbar-container container">
                    <div id="menu" class="collapse navbar-collapse">
                        <!-- Menu -->

                        {{> Template.dynamic template=menu}}

                    </div>
                </div>
            </div>

            <div id="navbar-spacer"></div>
            <!-- Content -->
            <div class="page-container container" id="content">
                {{> Template.dynamic template=content}}
            </div>
        </div>

        <!-- Footer -->
        <div class="component-spacer sm"></div>
        {{> Template.dynamic template="footer"}}
    </template>